<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zrf.zstackserve.mappers.BaseMapper">

    <sql id="frg1">
        <!-- operName：操作符；proFiled：java 字段；colFiled：数据库字段 -->
        <choose>
            <!-- &gt; 大于-->
            <when test="${operName} == 'gt'">
                AND ${colFiled} &gt; #{${proFiled}}
            </when>
            <!-- &gt;= 大于等于-->
            <when test="${operName} == 'gteq'">
                AND ${colFiled} &gt;= #{${proFiled}}
            </when>
            <!-- &lt; 小于-->
            <when test="${operName} == 'lt'">
                AND ${colFiled} &lt; #{${proFiled}}
            </when>
            <!-- &lt;= 小于等于-->
            <when test="${operName} == 'lteq'">
                AND ${colFiled} &lt;= #{${proFiled}}
            </when>
            <!-- eq 等于-->
            <when test="${operName} == 'eq'">
                AND ${colFiled} = #{${proFiled}}
            </when>
        </choose>
    </sql>

    <select id="queryTemphuAll">
        SELECT * FROM temhu
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="date != '' and date != null">
                AND `date` LIKE concat('%', #{date}, '%')
            </if>
            <if test="temp != '' and temp != null">
                <include refid="frg1">
                    <property name="colFiled" value="temp"/>
                    <property name="proFiled" value="temp"/>
                    <property name="operName" value="tempOper"/>
                </include>
            </if>
            <if test="humi != '' and humi != null">
                <include refid="frg1">
                    <property name="colFiled" value="humi"/>
                    <property name="proFiled" value="humi"/>
                    <property name="operName" value="humiOper"/>
                </include>
            </if>
            <if test="state != '' and state != null">
                AND `state` = #{state}
            </if>
            <if test="ledState != '' and ledState != null">
                AND `led_state` = #{ledState}
            </if>
        </trim>
        ORDER BY ${orderFiled} ${order}
    </select>

    <select id="queryAbtAll">
        SELECT * FROM abt
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="date != '' and date != null">
                AND `date` LIKE concat('%', #{date}, '%')
            </if>
            <if test="state != '' and state != null">
                AND `state` = #{state}
            </if>
            <if test="ledState != '' and ledState != null">
                AND `led_state` = #{ledState}
            </if>
        </trim>
        ORDER BY ${orderFiled} ${order}
    </select>

    <select id="queryTempHumiLimit">
        SELECT temp, humi, date
        FROM temhu
        ORDER BY `date` DESC
        LIMIT #{limit}
    </select>

    <select id="queryTempHumiAbnormalCount">
        SELECT COUNT(state) FROM temhu WHERE state = '温湿度传感器异常'
    </select>

    <select id="queryTempHumiReliveCount">
        SELECT COUNT(state) FROM temhu WHERE state = '解除温湿度传感器异常'
    </select>

    <select id="queryTempHumiForceCount">
        SELECT COUNT(state) FROM temhu WHERE state = '强制解除温湿度传感器异常'
    </select>

    <select id="queryTempHumiNormalCount">
        SELECT COUNT(state) FROM temhu WHERE state = '温湿度传感器正常'
    </select>

    <!--    -->

    <select id="queryAbtAbnormalCount">
        SELECT COUNT(state) FROM abt WHERE state = '红外对射传感器异常'
    </select>

    <select id="queryAbtReliveCount">
        SELECT COUNT(state) FROM abt WHERE state = '解除红外对射传感器异常'
    </select>

    <select id="queryAbtForceCount">
        SELECT COUNT(state) FROM abt WHERE state = '强制解除红外对射传感器异常'
    </select>

    <select id="queryAbtNormalCount">
        SELECT COUNT(state) FROM abt WHERE state = '红外对射传感器正常'
    </select>

</mapper>